@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
    font-family: 'Orbitron', sans-serif;
}

.header{
    margin: 10px 0;
    text-align: center;
    color: #fff;
    font-size: 35px;
}

.main{
    width: 42%;
    height: 82vh;
    border: 2px solid orangered;
    box-shadow: 0 12px 16px 0 rgba(252, 49, 22, 0.814),0 17px 50px 0 rgb(252, 94, 31);
}

.display #screen{
    margin: 20px 8px;
    width: 97%;
    height: 70px;
    font-size: 30px;
    color: #fff;
    text-align: right;
    font-family: 'Orbitron', sans-serif;
    border:  2px solid orangered;
    outline: none;
    border-radius: 5px;
    padding-right: 5rem;
    background: transparent;
}

.btn{
    width: 100%;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn .row button{
    width: 75px;
    height: 75px;
    font-size: 18px;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    border:  2px solid orangered;
    background: transparent;
    outline: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

button:hover{
    box-shadow: 0 12px 16px 0 rgba(252, 49, 22, 0.814),0 17px 50px 0 rgb(252, 94, 31);
}

